<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgsg.dra.mapper.CartMapper">
	<insert id="inserCart" parameterType="com.sgsg.dra.domain.Product">
		INSERT INTO CART_ITEM(USERID, STOCKNUM, QTY, REG_DATE)
			VALUES(#{userId}, #{stockNum}, #{qty}, SYSDATE)
	</insert>
	
	<select id="selectCartList" parameterType="String" resultType="com.sgsg.dra.domain.Product">
		SELECT c.QTY, to_char(c.REG_DATE, 'yyyy-mm-dd hh24:mi:ss') AS CART_ITEM_REG_DATE,
			s.STOCKNUM, s.TOTALSTOCK,
			p.PRODUCTNUM, p.CATEGORYNUM, p.PRODUCTNAME,
			p.CLASSIFY, p.PRICE, p.DISCOUNTRATE, p.SAVEDMONEY,
			p.DELIVERY, p.OPTIONCOUNT, p.THUMBNAIL, p.PRODUCTSHOW,
			p.REG_DATE AS PRODUCT_REG_DATE, p.UPDATE_DATE,
			LISTAGG(d1.OPTIONVALUE, ', ') WITHIN GROUP (ORDER BY d1.DETAILNUM) AS OPTIONVALUE,
			d1.OPTIONNAME AS OPTIONNAME, d1.DETAILNUM AS DETAILNUM, d1.OPTIONNUM AS OPTIONNUM,
			LISTAGG(d2.OPTIONVALUE, ', ') WITHIN GROUP (ORDER BY d2.DETAILNUM) AS OPTIONVALUE2,
			d2.OPTIONNAME AS OPTIONNAME2, d2.DETAILNUM AS DETAILNUM2, d2.OPTIONNUM AS OPTIONNUM2
		FROM CART_ITEM c
		JOIN PRODUCTSTOCK s ON c.STOCKNUM = s.STOCKNUM
		JOIN (
			SELECT p1.PRODUCTNUM, p1.CATEGORYNUM, p1.PRODUCTNAME,
				p1.CLASSIFY, p1.PRICE, p1.DISCOUNTRATE, p1.SAVEDMONEY,
				p1.DELIVERY, p1.OPTIONCOUNT, p1.THUMBNAIL, p1.PRODUCTSHOW,
				p1.REG_DATE, p1.UPDATE_DATE
			FROM PRODUCT p1
		) p ON s.PRODUCTNUM = p.PRODUCTNUM
		LEFT OUTER JOIN (
			SELECT d1.DETAILNUM, d1.OPTIONVALUE, o1.OPTIONNUM, o1.OPTIONNAME
			FROM optionDetail d1
			JOIN PRODUCT_OPTION o1 ON d1.OPTIONNUM = o1.OPTIONNUM
		) d1 ON s.detailNum = d1.DETAILNUM
		LEFT OUTER JOIN (
			SELECT d2.DETAILNUM, d2.OPTIONVALUE, o2.OPTIONNUM, o2.OPTIONNAME
			FROM optionDetail d2
			JOIN PRODUCT_OPTION o2 ON d2.OPTIONNUM = o2.OPTIONNUM
		) d2 ON s.detailNum2 = d2.DETAILNUM
		WHERE c.USERID = #{userId}
		GROUP BY c.QTY, c.REG_DATE,
			s.STOCKNUM, s.TOTALSTOCK,
			p.PRODUCTNUM, p.CATEGORYNUM, p.PRODUCTNAME,
			p.CLASSIFY, p.PRICE, p.DISCOUNTRATE, p.SAVEDMONEY,
			p.DELIVERY, p.OPTIONCOUNT, p.THUMBNAIL, p.PRODUCTSHOW,
			p.REG_DATE, p.UPDATE_DATE, d1.OPTIONNAME, d2.OPTIONNAME,
			d1.DETAILNUM, d2.DETAILNUM, d1.OPTIONNUM, d2.OPTIONNUM
		ORDER BY c.REG_DATE DESC
	</select>
	
	<update id="updateQty" parameterType="com.sgsg.dra.domain.Product">
		UPDATE CART_ITEM SET QTY = #{qty}, REG_DATE=SYSDATE where USERID=#{userId} and STOCKNUM=#{stockNum}
	</update>
	
	<delete id="deleteCart" parameterType="com.sgsg.dra.domain.Product">
		delete from cart_item where USERID=#{userId} and STOCKNUM=#{stockNum}
	</delete>
	
	
</mapper>