<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgsg.dra.admin.mapper.ChartManageMapper">

<select id="todayOrder" resultType="map">
Select NVL(Count(*), 0) as stateCount, orderState 
From productOrder 
Where orderstate In(0, 1, 10, 11, 12, 13) 
	And To_char(orderDate, 'YYYYmmdd') = To_char(sysdate, 'YYYYmmdd') 
Group by orderstate
</select>

<select id="todayDelivery" resultType="map">
Select NVL(Count(*), 0) as stateCount, d.orderState 
From delivery d 
Join productOrder p On d.ordernum = p.ordernum 
Where d.orderstate In(2, 3, 4, 5, 6, 7) 
	And To_char(orderDate, 'YYYYmmdd') = To_char(sysdate, 'YYYYmmdd') 
Group by d.orderstate
</select>

<select id="weekOrder" resultType="map">
Select NVL(Count(*), 0) as stateCount, orderState
From productOrder 
Where orderState In (0, 1, 10, 11, 12, 13) 
 And To_Char(orderDate, 'YYYY-MM-DD') &gt;= To_Char(sysDate - 6, 'YYYY-MM-DD')
 And To_Char(orderDate, 'YYYY-MM-DD') &lt;= To_Char(sysDate, 'YYYY-MM-DD')
Group by orderState
</select>

<select id="weekDelivery" resultType="map">
Select NVL(Count(*), 0) as stateCount, d.orderState
From delivery d 
Join productOrder p On d.ordernum = p.ordernum 
Where d.orderstate In(2, 3, 4, 5, 6, 7) 
	And To_Char(orderDate, 'YYYY-MM-DD') &gt;= To_Char(sysDate - 6, 'YYYY-MM-DD')
	And To_Char(orderDate, 'YYYY-MM-DD') &lt;= To_Char(sysDate, 'YYYY-MM-DD')
Group by d.orderstate
</select>

<select id="monthOrder" resultType="map">
Select NVL(Count(*), 0) as stateCount, orderState
From productOrder 
Where orderState In (0, 1, 10, 11, 12, 13) 
 And To_Char(orderDate, 'YYYY-MM-DD') &gt;= To_Char(add_months(sysDate, -1), 'YYYY-MM-DD')
 And To_Char(orderDate, 'YYYY-MM-DD') &lt;= To_Char(sysDate, 'YYYY-MM-DD')
Group by orderState
</select>

<select id="monthDelivery" resultType="map">
Select NVL(Count(*), 0) as stateCount, d.orderState
From delivery d 
Join productOrder p On d.ordernum = p.ordernum 
Where d.orderstate In(2, 3, 4, 5, 6, 7) 
	And To_Char(orderDate, 'YYYY-MM-DD') &gt;= To_Char(add_months(sysDate, -1), 'YYYY-MM-DD')
	And To_Char(orderDate, 'YYYY-MM-DD') &lt;= To_Char(sysDate, 'YYYY-MM-DD')
Group by d.orderstate
</select>

<select id="recentOrder" resultType="com.sgsg.dra.admin.domain.RecentOrderManage">
Select orderNum, productordername, recipientName, m.userName, totalMoney, orderState, tel, To_Char(orderDate, 'YYYY-MM-DD') orderDate 
From productOrder po
Join member1 m On po.userId = m.userId
Order By orderDate Desc, orderNum desc
Offset 0 row Fetch first 5 rows only
</select>

</mapper>