<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sgsg.dra.mapper.ExpertMapper">
    <select id="getExpertProfile" parameterType="String" resultType="com.sgsg.dra.domain.Expert">
	    SELECT e.userId, m.userName, e.license1, e.license2, e.license3, e.career1, e.career2, e.career3, e.exposed_content
	    FROM expert_mypage e
	    JOIN member1 m ON e.userId = m.userId
	    WHERE e.userId = #{userId}
	</select>
    
    
    <update id="updateExpertProfile" parameterType="com.sgsg.dra.domain.Expert">
        UPDATE expert_mypage
        SET license1=#{license1, jdbcType=VARCHAR}, license2=#{license2, jdbcType=VARCHAR}, license3=#{license3, jdbcType=VARCHAR}, 
        career1=#{career1, jdbcType=VARCHAR}, career2=#{career2, jdbcType=VARCHAR}, career3=#{career3, jdbcType=VARCHAR}, 
        exposed_content=#{exposed_content, jdbcType=VARCHAR}
        WHERE userId = #{userId}
    </update>
    
    <select id="getAnswerCount" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM sleep_clinic_answer
        WHERE userId = #{userId}
    </select>
    
    
    <select id="getAcceptedAnswerCount" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM sleep_clinic_answer a
        JOIN sleep_clinic_answer_like l ON a.answer_num = l.answer_num
        WHERE a.userId = #{userId} AND l.pickup = 1
    </select>
    
    
    
    <select id="getAnswerList" parameterType="String" resultType="com.sgsg.dra.domain.ClinicAnswer">
        SELECT a.answer_num, a.question_id, a.content, a.created_date, q.title
        FROM sleep_clinic_answer a
        JOIN sleep_clinic_question q ON a.question_id = q.question_id
        WHERE a.userId = #{userId}
        ORDER BY a.created_date DESC
    </select>
    
</mapper>
