<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgsg.dra.admin.mapper.ProductManageMapper">

<!-- 시퀀스 보존용 -->
<select id="productSeq" resultType="Long">
	Select product_seq.NextVal From dual
</select>
<!-- 
상품 등록 하기
<insert id="insertProduct" parameterType="com.sgsg.dra.admin.domain.ProductManage">
	Insert Into product
	(productNum, CategoryNum, productName, classify, price, salePrice, 
		discountRate, savedMoney, delivery, optionCount, content, thumbnail, productShow, reg_date, search_word)
	Values
	(#{productNum}, #{categoryNum}, #{productName}, #{classify}, #{price}, #{salePrice}, 
		#{discountRate}, #{savedMoney}, #{delivery}, #{optionCount}, #{content}, #{thumbnail}, #{productShow}, SYSDATE, #{searchWord})
</insert> 
-->

<insert id="insertProduct" parameterType="com.sgsg.dra.admin.domain.ProductManage">
    Insert Into product
    (productNum, CategoryNum, productName, classify, price, salePrice, 
        discountRate, savedMoney, delivery, optionCount, content, thumbnail, productShow, reg_date)
    Values
    (#{productNum}, #{categoryNum}, #{productName}, #{classify}, #{price}, #{salePrice}, 
        #{discountRate}, #{savedMoney}, #{delivery}, #{optionCount}, #{content}, #{thumbnail}, #{productShow}, SYSDATE)
</insert>

<insert id="insertSearchWord" parameterType="map">
    Insert Into search_words (search_words_id, productNum, searchWord)
    Values (search_words_seq.NEXTVAL, #{productNum}, #{searchWord})
</insert>

<!-- <insert id="insertProduct" parameterType="com.sgsg.dra.admin.domain.ProductManage">
    Insert Into product
    (productNum, CategoryNum, productName, classify, price, salePrice, 
        discountRate, savedMoney, delivery, optionCount, content, thumbnail, productShow, reg_date)
    Values
    (#{productNum}, #{categoryNum}, #{productName}, #{classify}, #{price}, #{salePrice}, 
        #{discountRate}, #{savedMoney}, #{delivery}, #{optionCount}, #{content}, #{thumbnail}, #{productShow}, SYSDATE)

    <selectKey keyProperty="productNum" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>

    <foreach collection="searchWord" item="word" separator=",">
        Insert Into search_words (search_words_id, productNum, searchWord)
        Values (search_words_seq.NEXTVAL, #{productNum}, #{word})
    </foreach>
</insert> -->

<!-- 추가 이미지 등록 -->
<insert id="insertProductFile" parameterType="com.sgsg.dra.admin.domain.ProductManage">
		INSERT INTO product_Image(fileNum, img_name, productNum)
		VALUES(PRODUCT_IMAGE_SEQ.NEXTVAL, #{filename}, #{productNum} )
</insert>

<!-- 상품 카테고리 -->
<select id="findByCategory" parameterType="Long" resultType="com.sgsg.dra.admin.domain.ProductManage">
	SELECT categoryNum, categoryName, use, displayNo, parentNum, categoryImage
	FROM PRODUCT_CATEGORY
	WHERE categoryNum = #{categoryNum}
</select>

<!-- 상품 상위 카테고리 목록 -->
<select id="listCategory" resultType="com.sgsg.dra.admin.domain.ProductManage">
	SELECT categoryNum, categoryName, displayno, parent_categorynum, categoryimage, use
	FROM product_Category
	WHERE use = 1 AND parent_categorynum IS NULL
	ORDER BY displayno
</select>

<!-- 상품 하위 카테고리 목록 -->
<select id="listSubCategory" parameterType="Long" resultType="com.sgsg.dra.admin.domain.ProductManage">
	SELECT categoryNum, categoryName, displayno, parent_categorynum, categoryimage, use
	FROM PRODUCT_CATEGORY
	WHERE use = 1 AND parent_categorynum = #{parent_categorynum}
	ORDER BY displayNo
</select>

</mapper>