<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgsg.dra.mapper.QuestionMapper">
<insert id="insertQuestion" parameterType="com.sgsg.dra.domain.Question">
INSERT INTO PRODUCT_INQUIRY
 (INQUIRYNUM, PRODUCTNUM, USERID, QUESTION, QUESTION_DATE, INQUIRY_TYPE)
VALUES (PRODUCT_INQUIRY_SEQ.NEXTVAL, 
        #{productNum},
        #{userId},
        #{question},
        SYSDATE, 
        #{inquiryType}
)
</insert>
<!-- 질문에 파일을 첨부할 때 사용 -->
	<insert id="insertQuestionFile" parameterType="com.sgsg.dra.domain.Question">

    INSERT INTO PRODUCT_INQUIRY_PHOTO (
        FILENUM,
        INQUIRYNUM,
        FILENAME
    ) VALUES (
        PRODUCT_INQUIRY_PHOTO_SEQ.NEXTVAL,
        #{inquiryNum},
        #{filename}
    )
</insert>

</mapper>