<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgsg.dra.mapper.SpecialsMapper">

    <!-- 특가/기획 상품 개수 세는 쿼리임 -->
    <select id="dataCountSpecials" parameterType="map" resultType="Integer">
        SELECT NVL(COUNT(*), 0)
        FROM SPECIALS
        WHERE SHOWSPECIAL = 1 AND 
              (STARTDATE &lt;= SYSDATE AND ENDDATE &gt;= SYSDATE)
    </select>

    <!-- 특가/기획 상품 목록 가져오는 쿼리임 -->
    <select id="listSpecials" parameterType="map" resultType="com.sgsg.dra.domain.Specials">
        SELECT SPECIALNUM, SUBJECT, IMAGEFILENAME, 
               TO_CHAR(STARTDATE, 'YYYY-MM-DD HH24:MI') STARTDATE, 
               TO_CHAR(ENDDATE, 'YYYY-MM-DD HH24:MI') ENDDATE
        FROM SPECIALS
        WHERE SHOWSPECIAL = 1 AND 
              (STARTDATE &lt;= SYSDATE AND ENDDATE &gt;= SYSDATE)
        ORDER BY SPECIALNUM DESC
        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
    </select>

    <!-- 특정 특가/기획 상품 상세 정보 가져오는 쿼리임 -->
    <select id="findById" parameterType="Long" resultType="com.sgsg.dra.domain.Specials">
        SELECT SPECIALNUM, SUBJECT, CONTENT, IMAGEFILENAME, 
               TO_CHAR(STARTDATE, 'YYYY-MM-DD HH24:MI') STARTDATE, 
               TO_CHAR(ENDDATE, 'YYYY-MM-DD HH24:MI') ENDDATE
        FROM SPECIALS
        WHERE SPECIALNUM = #{specialNum}
    </select>

    <!-- 특가/기획 상품에 포함된 제품 개수 세는 쿼리임 -->
    <select id="dataCountProduct" parameterType="map" resultType="Integer">
        SELECT NVL(COUNT(*), 0)
        FROM SPECIALS s
        JOIN SPECIALSDETAIL d ON s.SPECIALNUM = d.SPECIALNUM
        JOIN PRODUCT p ON d.PRODUCTNUM = p.PRODUCTNUM
        JOIN PRODUCT_CATEGORY c ON p.CATEGORYNUM = c.CATEGORYNUM
        WHERE p.PRODUCTSHOW = 1 AND s.SHOWSPECIAL = 1
            AND (s.STARTDATE &lt;= SYSDATE AND s.ENDDATE &gt;= SYSDATE)
        <if test="specialNum != null">
            AND d.SPECIALNUM = #{specialNum}
        </if>
    </select>

    <!-- 특가/기획 상품에 포함된 제품 목록 가져오는 쿼리임 -->
    <select id="listProduct" parameterType="map" resultType="com.sgsg.dra.domain.SpecialsProduct">
        SELECT p.PRODUCTNUM, p.CATEGORYNUM, c.CATEGORYNAME, p.PRODUCTNAME, p.PRICE, p.SAVEDMONEY, 
               p.DISCOUNTRATE, p.DELIVERY, p.THUMBNAIL, NVL(pc.SALECOUNT, 0) SALECOUNT
        FROM SPECIALS s
        JOIN SPECIALSDETAIL d ON s.SPECIALNUM = d.SPECIALNUM
        JOIN PRODUCT p ON d.PRODUCTNUM = p.PRODUCTNUM
        JOIN PRODUCT_CATEGORY c ON p.CATEGORYNUM = c.CATEGORYNUM
        LEFT OUTER JOIN (
            SELECT STOCKNUM, SUM(QTY) SALECOUNT
            FROM ORDERDETAIL
            GROUP BY STOCKNUM
        ) pc ON p.PRODUCTNUM = pc.STOCKNUM
        WHERE p.PRODUCTSHOW = 1 AND s.SHOWSPECIAL = 1 
            AND (s.STARTDATE &lt;= SYSDATE AND s.ENDDATE &gt;= SYSDATE)
        <if test="specialNum != null">
            AND d.SPECIALNUM = #{specialNum}
        </if>
        ORDER BY d.DISPLAYORDER DESC, d.DETAILNUM DESC
        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
    </select>
</mapper>