@charset "UTF-8";

<style>
.sidebar {
    background-color: #f8f9fa;
    height: 100%;
}
.sidebar .nav-link {
    color: #000;
}
.sidebar .nav-link.active {
    background-color: #e9ecef;
    color: #000;
}
.submenu {
    display: none;
    padding-left: 20px; /* 하위 메뉴 들여쓰기 */
}
.jArrow {
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*a태그 밑줄 제거*/
a{
	text-decoration: none; !important;
}

</style>