ul {
	list-style: none;
	display: block;
}

li {
	list-style: none;
	display: list-item;
}

a {
	color: inherit;
	text-decoration: none;
}

.cart-box {
	margin-bottom: 12px;
}
.checkbox-wrap {
	position: relative;
	display: inline-block;
	font-size: 0;
	padding: 9px;
    top: 50px;
    left: -35px;
}

.checkbox {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

/* 상품 이름 */
.item-title {
	min-width: 0;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s;
}

/* 옵션 */
.delivery-info {
	margin-top: 8px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: rgb(117, 117, 117);
	overflow-wrap: break-word;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.option-box {
	position: relative;
	margin-bottom: 8px;
	padding: 12px;
	background-color: rgb(247, 249, 250);
	border-radius: 4px;
}

.option-title {
	font-size: 14px;
	line-height: 18px;
	padding: 0px 24px 10px 0px;
}
/* 옵션 삭제 버튼*/
.option_delete {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding: 10px;
	background: none;
	border: none;
	font-size: 0;
	-webkit-transition: .1s opacity;
	transition: .1s opacity;
	color: #828C94;
}

.option_delete:hover, .option_delete:focus, .option_delete:active {
	opacity: 0.5;
}

.option-subBox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

/* 수량 */
.minus_qty, .plus_qty {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	cursor: pointer;
}

.chage_qty {
	font-size: 14px;
	line-height: 18px;
	padding: 2px;
	border: 0;
	background: none;
}

.minus_qty:hover, .minus_qty:focus, .minus_qty:active,
	.plus_qty:hover , .plus_qty:focus, .plus_qty:active,
	.chage_qty:hover, .chage_qty:focus, .chage_qty:active {
	opacity: 0.5;
}

.option-qty {
    width: 70px;
    display: flex;
    padding: 7px 6px;
    background: #FFFFFF;
    border: 1px solid #DADDE0;
    border-radius: 4px;
}

.item-link {
	display: flex;
	margin-bottom: 12px;
}

.item-link:active img, .item-link:focus img, .item-link:hover img {
	transform: translate(-50%, -50%) scale(1.05);
}

.item-link:active , .item-link:focus , .item-link:hover  {
	opacity: .5;
}

.item-img {
	flex: 0 0 auto;
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	background-color: #ededed;
	overflow: hidden;
}

.item-img img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transition: transform .2s;
	transform: translate(-50%, -50%) scale(1.0001);
}

.item-content {
	padding-left: 12px;
}

.item-title {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 100000;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0)
}

.modal__dialog {
	background: #fff;
	position: absolute;
	left: 50%;
	margin-top: 10px;
	margin-bottom: 10px
}

@media ( min-width :768px) {
	.modal__dialog {
		margin-top: 20px;
		margin-bottom: 20px
	}
}

@media ( min-width :1024px) {
	.modal__dialog {
		margin-top: 30px;
		margin-bottom: 30px
	}
}

.cart-item {
	position: relative;
    padding: 0 15px 20px 49px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ededed;
    border-bottom: none;
}

.item_delete {
	position: absolute;
	display: inline-block;
	top: 15px;
	right: 10px;
	padding: 5px;
	background: none;
	border: none;
	font-size: 0;
	transition: opacity .1s;
	color: #424242;
}

@media ( min-width :768px) {
	.item_delete {
		right: 15px;
	}
}

.item_delete:active, .item_delete:focus, .item_delete:hover {
	opacity: .5;
}

.item_order {
	padding: 3px;
	background: none;
	border: none;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s;
}

.item_order:active, .item_order:focus, .item_order:hover {
	opacity: .5;
}

.item-subtotal {
	font-size: 17px;
	font-weight: 700;
}

@media ( min-width :768px) {
	.cart-summary_m {
		display: none;
	}
}

.cart-summary {
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 6px;
    margin: 20px 0 10px 0;
    border: 1px solid #ededed;
}

.cart-summary dl {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 15px;
	font-weight: 400;
	color: #424242;
}

.cart-summary dd, .cart-summary dt {
	flex: 0 0 auto;
	font-weight: 500;
	margin-bottom: 0;
}

.cart-summary dd {
	font-weight: 700;
	text-align: right;
}

.cart-summary-row--total {
	margin: 30px 0 20px;
	color: #000;
}

.cart-summary-row--total>dt {
	font-weight: 700;
}

.cart-summary-row--total>dd {
	font-size: 24px;
	width: 130px;
	height: 30px;
}


.cart-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	margin-bottom: 11px;
	z-index: 100;
}

@media ( min-width :768px) {
	.cart-header {
		padding: 0 21px;
	}
}

.commerce-cart__header__left {
	margin: -9px;
}

.commerce-cart__header__left, .commerce-cart__header__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.commerce-cart__header__caption {
	display: inline-block;
	line-height: 21px;
	margin-bottom: 2px;
	font-size: 15px;
}

.cart-checked_delete {
	background: none;
	border: none;
	font-weight: 400;
	font-size: 12px;
}

.cart-checked_delete:active, .cart-checked_delete:hover {
	opacity: .6;
}

.cart-side {
	display: none;
	
}

@media ( min-width :768px) {
	.cart-side {
		display: block;
		position: relative;
        width: 100%;
        min-height: 1px;
        flex: 0 0 35%;
        max-width: 35%;
        padding-left: 8px;
	}
}

.sidebar_order_btn {
	display: block;
	width: 100%;
	padding: 15px 10px;
	line-height: 20px;
	font-size: 17px;
	min-height: 50px;
}

.order_btn {
	background-color: #35c5f0;
	border-color: #35c5f0;
	color: #fff;
	position: relative;
	border: 1px solid transparent;
	font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
		sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: color .1s, background-color .1s, border-color .1s;
	border-radius: 4px;
	cursor: pointer;
}

.cart-footer-container {
	position: sticky;
    bottom: 0px;
    transition: bottom 0.1s ease 0s;
	z-index: 502;
}

.cart-footer {
	display: flex;
	z-index: 502;
	padding: 6px;
	background-color: hsla(0, 0%, 100%, .94);
	flex-wrap: wrap;
}

@media ( min-width :768px) {
	.cart-footer {
		display: none;
	}
}

.cart-footer-total {
	flex: 0 0 auto;
	padding: 12px 16px 12px 10px;
	font-size: 15px;
	text-align: center;
}

.cart-footer-total>.cost {
	font-weight: 700;
}

.footer_order_btn {
	flex: 1 0 auto;
	width: auto;
	padding: 11px 10px;
    min-height: 45px;
    line-height: 18px;
}

.commerce-cart-empty {
	background-color: #f5f5f5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.commerce-cart-empty {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.commerce-cart-empty__content {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	max-width: 220px;
	margin: 80px auto;
	text-align: center
}

.commerce-cart-empty__content__image {
	display: block;
	max-width: 160px;
	margin: 0 auto;
}

.commerce-cart-empty__content__button.button {
	display: block;
	margin-top: 30px;
}

.label {
	display : inline-flex;
	align-items: center;
}

input[type="checkbox"]{
	 margin-right: 7px;
}
.production-item-image {
	position: relative;
	background-color: #f5f5f5;
	padding-bottom: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.production-item-image>.image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: transform .2s;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
	border: 0;
}

svg {
	width: 24;
	height: 24;
}

svg:not(:root) {
	overflow-clip-margin: content-box;
	overflow: hidden;
}

.container {
	position: relative;
	background-color: #f5f5f5;
	width: 100%;
	max-width: 100%;
}


.cart-body {
	width: 100%;
	
}

@media ( min-width : 768px) {
	.cart-body {
		position: relative;
		flex: 0 0 65%;
		max-width: 65%;
		padding-right: 8px;
	}
}

/* 알림 */
.notification {
	display: grid;
	background: white;
	min-height: 46px;
	border: 1px solid #009FCE;
	box-shadow: 0 2px 6px rgba(63, 71, 77, 0.15);
	grid-template-columns: 1fr 40px;
	align-items: center;
	margin-bottom: 12px;
	border-radius: 4px;
	position: sticky;
	z-index: 2;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #009FCE;
	font-weight: 700;
}

.notification_delete {
    display: inline-block;
    padding: 10px;
    background: none;
    border: none;
    font-size: 0;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
	color: #828C94;
}

.notification_delete:hover, .notification_delete:focus, .notification_delete:active {
	opacity: 0.5;
}

