ul {
	list-style: none;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

li {
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}

a {
	color: inherit;
	text-decoration: none;
}

article, section, div {
	display: block;
	unicode-bidi: isolate;
}

body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
}

.checkbox-wrap {
	position: relative;
	display: inline-block;
	font-size: 0;
	padding: 9px;
}

.checkbox {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

/* 상품 이름 */
.product-small-item__title {
	min-width: 0;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s;
}

/* 옵션 */
.delivery_info {
	margin-top: 8px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: rgb(117, 117, 117);
	overflow-wrap: break-word;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.option_box {
	position: relative;
	margin-bottom: 8px;
	padding: 12px;
	background-color: rgb(247, 249, 250);
	border-radius: 4px;
	color: rgb(47, 52, 56) !important;
}

.option_title {
	font-size: 14px;
	line-height: 18px;
	padding: 0px 24px 10px 0px;
}
/* 옵션 삭제 버튼*/
.option_delete {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding: 10px;
	background: none;
	border: none;
	font-size: 0;
	-webkit-transition: .1s opacity;
	transition: .1s opacity;
	color: #828C94;
}

.option_delete:hover, .option_delete:focus, .option_delete:active {
	opacity: 0.5;
}


.option_subBox {
	display: flex;
	webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/* 수량 */
.minus_qty, .plus_qty {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	cursor: pointer;
}

.chage_qty {
	font-size: 14px;
	line-height: 18px;
	padding: 2px;
	border: 0;
	background: none;
	color: #2F3438;
}

.minus_qty:hover, .minus_qty:focus, .minus_qty:active,
	.plus_qty:hover , .plus_qty:focus, .plus_qty:active,
	.chage_qty:hover, .chage_qty:focus, .chage_qty:active {
	opacity: 0.5;
}

.option_qty {
    width: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 7px 6px;
    background: #FFFFFF;
    color: #2F3438;
    border: 1px solid #DADDE0;
    border-radius: 4px;
    margin-top: 12px;
}

.option_price {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.production-item__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.product-small-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.product-small-item--clickable:active .product-small-item__image img,
	.product-small-item--clickable:focus .product-small-item__image img,
	.product-small-item--clickable:hover .product-small-item__image img {
	transform: translate(-50%, -50%) scale(1.05)
}

.product-small-item--clickable:active .product-small-item__title,
	.product-small-item--clickable:focus .product-small-item__title,
	.product-small-item--clickable:hover .product-small-item__title {
	opacity: .5
}

.product-small-item__image {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 6px;
	background-color: #ededed;
	overflow: hidden
}

.product-small-item__image img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transition: transform .2s;
	transform: translate(-50%, -50%) scale(1.0001)
}

.product-small-item__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	padding-left: 12px
}

.product-small-item__title {
	min-width: 0;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s
}

.product-small-item__title__sold-out-badge {
	display: inline-block;
	margin-right: 4px;
	padding: 3px 6px;
	background-color: #757575;
	color: #fff;
	font-weight: 500;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	border-radius: 20px;
	vertical-align: 1px
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 100000;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0)
}

.modal__dialog {
	box-sizing: border-box;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-top: 10px;
	margin-bottom: 10px
}

@media ( min-width :768px) {
	.modal__dialog {
		margin-top: 20px;
		margin-bottom: 20px
	}
}

@media ( min-width :1024px) {
	.modal__dialog {
		margin-top: 30px;
		margin-bottom: 30px
	}
}
/*
.modal__large-close {
	position: fixed;
	right: 0;
	top: 20px;
	height: 0;
	z-index: 100005
}

@media ( min-width :1024px) {
	.modal__large-close {
		top: 30px
	}
}

.modal__large-close__button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	border: none;
	background-color: #fff;
	color: #000;
	font-size: 0;
	line-height: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	transition: background-color .1s, color .1s
}

.modal__large-close__button:active, .modal__large-close__button:focus,
	.modal__large-close__button:hover {
	background-color: #35c5f0;
	color: #fff
}

.btn--modal-close {
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px
}

@media ( min-width :768px) {
	.btn--modal-close {
		top: 20px;
		right: 20px
	}
}
*/

.carted-product-edit__modal {
	z-index: 1300
}

.carted-product-edit__modal__handle {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin: 0;
	padding: 8px 24px;
	transform: translateX(-50%);
	box-sizing: border-box;
	background: none;
	border: none;
	font-size: 0;
	pointer-events: none
}

@media ( min-width :768px) {
	.carted-product-edit__modal__handle {
		display: none
	}
}

.carted-product-edit__modal__handle:before {
	content: "";
	display: block;
	width: 40px;
	height: 6px;
	background-color: #fff;
	border-radius: 3px
}

.carted-product-edit__modal__close {
	position: absolute;
	top: 10px;
	right: 5px;
	padding: 10px;
	color: #424242;
	border: none;
	background-color: transparent;
	transition: opacity .1s
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close {
		top: 15px;
		right: 15px;
		padding: 0
	}
}

.carted-product-edit__modal__close:active,
	.carted-product-edit__modal__close:focus,
	.carted-product-edit__modal__close:hover {
	opacity: .6
}

.carted-product-edit__modal__close>.icon-sm {
	display: block
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close>.icon-sm {
		display: none
	}
}

.carted-product-edit__modal__close>.icon-md {
	display: none
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close>.icon-md {
		display: block
	}
}

.carted-product-edit__modal__content.react-modal__content {
	position: relative
}

@media ( max-width :767px) {
	.carted-product-edit__modal__content.react-modal__content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		max-height: calc(100vh - 70px);
		padding: 20px 15px;
		margin-top: 25px;
		border-radius: 16px 16px 0 0
	}
}

@media ( min-width :768px) {
	.carted-product-edit__modal__content.react-modal__content {
		width: 405px;
		padding: 30px
	}
}

.carted-product-edit__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px
}

.carted-product-edit__form .product-small-item {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 15px;
	padding-bottom: 10px
}

@media ( min-width :768px) {
	.carted-product-edit__form .product-small-item {
		padding-right: 5px
	}
}

.carted-product-edit__form__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding-top: 10px;
	overflow-y: auto
}

.carted-product-edit__form__footer {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px -14px -15px;
	padding-bottom: env(safe-area-inset-bottom)
}

@media ( min-width :768px) {
	.carted-product-edit__form__footer {
		margin: 20px -5px 0;
	}
}

.carted-product-edit__form__footer__button.button {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	margin: 0 5px;
}

@media ( max-width :767px) {
	.carted-product-edit__form__footer__button.button {
		margin: 0 3.5px;
		padding: 11px 10px;
		line-height: 20px;
	}
}

.carted-product {
	position: relative;
    padding: 20px 15px 20px 49px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ededed;
    border-bottom: none;
}

@media ( min-width :768px) {
	.carted-product {
		padding: 20px 15px 20px 54px;
	}
}

.carted-product--has-sold-out .carted-product__subtotal,
	.carted-product--sold-out .carted-product__card__title,
	.carted-product--sold-out .carted-product__subtotal {
	color: rgba(0, 0, 0, .4);
}

.carted-product__select {
	position: absolute;
	margin: -9px;
	top: 20px;
	left: 20px;
}

@media ( min-width :768px) {
	.carted-product__select {
		left: 23px;
	}
}

.css-l46ngn {
    display: inline-flex;
    color: rgb(47, 52, 56);
    background-color: rgb(247, 249, 250);
    padding: 6px 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
}

.css-1xskdmv.afterDeadLine {
    font-weight: 700;
    color: rgb(53, 197, 240);
    margin-left: 17px;
    position: relative;
}

.css-1xskdmv.afterDeadLine::before {
    position: absolute;
    left: -8px;
    content: "";
    display: inline-block;
    border-left: 1px solid rgb(194, 200, 204);
    top: 3px;
    height: 10px;
    width: 1px;
}

.carted-product .product-small-item {
	margin: 0 20px 12px 0;
}

.carted-product__delete {
	position: absolute;
	display: inline-block;
	top: 15px;
	right: 10px;
	padding: 5px;
	background: none;
	border: none;
	font-size: 0;
	transition: opacity .1s;
	color: #424242;
}

@media ( min-width :768px) {
	.carted-product__delete {
		right: 15px;
	}
}

.carted-product__delete:active, .carted-product__delete:focus,
	.carted-product__delete:hover {
	opacity: .5;
}

.carted-product__pay-at {
	margin-bottom: 12px;
}

.carted-product__pay-at .form-control {
	font-size: 15px;
	line-height: 1.4;
	border-radius: 4px;
}


.carted-product__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin-top: 16px;
}

.carted-product__footer__left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.carted-product__edit-btn, .carted-product__order-btn {
	position: relative;
	display: inline-block;
	margin: 2px 0 0 -3px;
	padding: 3px;
	background: none;
	border: none;
	color: #424242;
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s;
}

.carted-product__edit-btn:active, .carted-product__edit-btn:focus,
	.carted-product__edit-btn:hover, .carted-product__order-btn:active,
	.carted-product__order-btn:focus, .carted-product__order-btn:hover {
	opacity: .5;
}

.carted-product__edit-btn:nth-child(n+2), .carted-product__order-btn:nth-child(n+2)
	{
	margin-left: 14px;
}

.carted-product__edit-btn:nth-child(n+2):before,
	.carted-product__order-btn:nth-child(n+2):before {
	content: "";
	position: absolute;
	display: block;
	left: -7px;
	top: 4px;
	height: 12px;
	border-left: 1px solid #dbdbdb;
}

.carted-product__subtotal {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	color: #000;
	font-size: 17px;
	font-weight: 700;
}

.commerce-cart__delivery-group__footer {
	padding: 10px 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #424242;
    background: #fff;
    margin-bottom: 12px;
    border: 1px solid #ededed;
    border-radius: 6px;
    border-top: none;
}

.commerce-cart__delivery-group__group-caption {
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #757575;
}

.commerce-cart__delivery-group__group-link {
	margin-top: 5px;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
}

.commerce-cart__delivery-group__group-link__link {
	display: inline-block;
	padding: 0 4px;
	font-weight: 700;
	color: #35c5f0;
	transition: color .1s;
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	color: #09addb;
}

@media ( min-width :768px) {
	.commerce-cart__delivery-group__group-link__link:active,
		.commerce-cart__delivery-group__group-link__link:hover {
		color: #09addb;
	}
}

.commerce-cart__delivery-group__group-link__link::-moz-focus-inner {
	border: 0;
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	outline: none;
	box-shadow: 0 0 0 3px #a3e4f8;
	border-radius: 4px;
}

.commerce-cart__delivery-group__group-link__link>.icon {
	font-size: 12px;
	vertical-align: -2px;
	margin-left: 2px
}

.commerce-cart__summary {
	padding: 10px 20px;
}

.commerce-cart__summary__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 15px;
	font-weight: 400;
	color: #424242;
}

.commerce-cart__summary__row>dd, .commerce-cart__summary__row>dt {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	font-weight: 500;
}

.commerce-cart__summary__row>dd {
	font-weight: 700;
	text-align: right;
}

.commerce-cart__summary__row--total {
	margin: 30px 0 20px;
	color: #000;
}

.commerce-cart__summary__row--total>dt {
	font-weight: 700;
}

.commerce-cart__summary__row--total>dd {
	font-size: 24px;
	width: 130px;
	height: 30px;
}

.commerce-cart-wrap {
	position: relative;
	background-color: #f5f5f5;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.commerce-cart {
	position: relative;
}

.commerce-cart__header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 8px 15px;
	margin: 0 0 11px;
	background-color: #fff;
	border-bottom: 1px solid #ededed;
	z-index: 100;
}

.commerce-cart__header-wrap {
	z-index: 100;
}

@media ( min-width :768px) {
	.commerce-cart__header {
		padding: 0 21px;
		background: none;
		border: none;
	}
}

.commerce-cart__header__left {
	margin: -9px;
}

.commerce-cart__header__left, .commerce-cart__header__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.commerce-cart__header__caption {
	display: inline-block;
	line-height: 21px;
	margin-bottom: 2px;
	font-size: 15px;
}

.commerce-cart__header__delete, .commerce-cart__header__delete-sold-out
	{
	display: inline-block;
	margin: 2px -3px 0;
	padding: 3px;
	background: none;
	border: none;
	color: #424242;
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s;
}


.commerce-cart__header__delete-sold-out:active, .commerce-cart__header__delete-sold-out:hover,
.commerce-cart__header__delete:active, .commerce-cart__header__delete:hover {
	opacity: .6;
}

.commerce-cart__content {
	position: relative;
	margin: 0 -15px;
	padding: 0;
}

@media ( min-width :768px) {
	.commerce-cart__content {
		margin: 0;
		padding: 30px 0 20px;
	}
}

.commerce-cart__content__summary {
	background-color: #fff;
}

@media ( min-width :768px) {
	.commerce-cart__content__summary {
		display: none;
	}
}

.commerce-cart__side-bar-wrap {
	display: none;
	padding-top: 35px;
}

@media ( min-width :768px) {
	.commerce-cart__side-bar-wrap {
		display: block;
		position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.6666666667%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 7.5px;
        padding-left: 7.5px;
	}
}

.commerce-cart__side-bar {
	padding: 20px 0;
}

.commerce-cart__side-bar__summary {
	margin: 0 0 20px;
	border: 1px solid #ededed;
	border-radius: 6px;
	background-color: #fff
}

.commerce-cart__side-bar__order__btn {
	display: block;
	width: 100%;'
	padding: 15px 10px;
	line-height: 20px;
	font-size: 17px;
	min-height: 50px;
}

.order_btn {
	background-color: #35c5f0;
	border-color: #35c5f0;
	color: #fff;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid transparent;
	font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
		sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: color .1s, background-color .1s, border-color .1s;
	border-radius: 4px;
	cursor: pointer;
}

.commerce-cart__footer-wrap {
	z-index: 502;
}

.commerce-cart__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	z-index: 502;
	padding: 6px;
	background-color: hsla(0, 0%, 100%, .94);
	flex-wrap: wrap;
}

@media ( min-width :768px) {
	.commerce-cart__footer {
		display: none;
	}
}

.commerce-cart__footer__total {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 12px 16px 12px 10px;
	color: #000;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
}

.commerce-cart__footer__total>.cost {
	font-weight: 700;
}

.commerce-cart__footer__order {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: auto;
	padding: 11px 10px;
	margin-bottom: env(safe-area-inset-bottom, 0);
    min-height: 45px;
    line-height: 18px;
    font-size: 15px;
}

.commerce-cart-empty {
	background-color: #f5f5f5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.commerce-cart-empty {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.commerce-cart-empty__content {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	max-width: 220px;
	margin: 80px auto;
	box-sizing: border-box;
	text-align: center
}

.commerce-cart-empty__content__image {
	display: block;
	max-width: 160px;
	margin: 0 auto;
}

.commerce-cart-empty__content__button.button {
	display: block;
	margin-top: 30px;
}

.label_check {
	flex-direction: row;
	padding-right: 6px;
	display : inline-flex;
	align-items: center;
	vertical-align: middle;
	width: 100%;
}

.production-item-image {
	position: relative;
	background-color: #f5f5f5;
	padding-bottom: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.production-item-image>.image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: transform .2s;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
	border: 0;
}

.production-item-scrap-badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	z-index: 2;
	transition: opacity .1s;
}

.production-item-scrap-badge>.inactive-icon {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .1s;
}

svg {
	width: 24;
	height: 24;
}

svg:not(:root) {
	overflow-clip-margin: content-box;
	overflow: hidden;
}

.production-item-image__dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color .2s;
}

.production-item__content {
	padding: 0 4px;
}

.production-item__header {
	margin: 9px 0 0;
}

.production-item__header__brand {
	display: block;
	color: #757575;
	word-break: break-all;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
}

.production-item .production-item-price {
	margin: 2px 0 0;
}

.production-item__header__name {
	display: block;
	max-height: 34px;
	margin-top: 5px;
	word-break: break-all;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	color: #000;
	transition: opacity .1s;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.production-item-price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 17px;
	line-height: 23px;
	font-weight: 700;
}

.production-item-stats {
	font-size: 12px;
	color: #9e9e9e;
	line-height: 16px;
	font-weight: 700;
}

.production-item-price__rate {
	color: #35c5f0;
	margin-right: 4px;
}

.production-item-price__price {
	color: #000;
	margin-right: 4px;
}

.production-item-stats--review>.icon {
	width: 1.1em;
	height: 1.1em;
	margin-right: 1px;
	color: #35c5f0;
	vertical-align: -2px;
}

.production-item-stats--review>.avg {
	margin-right: 2px;
	color: #424242;
	font-weight: 700;
}

.production-item {
	position: relative;
}

.delivery_wrap {
	display: block;
}

.delivery_wrap>.icon {
	width: auto;
	height: 15px;
}

.delivery_text {
	display: inline-block;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: rgb(99, 145, 230);
}

.production-item-badge-list {
	display: flex;
}

.salecoupon_wrap {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	max-width: 100%;
	width: fit-content;
	padding: 2px 5px;
	line-height: 16px;
	letter-spacing: -0.3px;
	border-radius: 4px;
	margin-top: 6px;
	color: rgb(47, 52, 56);
	border: 1px solid rgb(234, 237, 239);
}

.salecoupon_text {
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media ( min-width : 375px) {
	.container {
		margin-right: auto;
		margin-left: auto;
		width: calc(100% - 30px);
		max-width: 100%;
		box-sizing: border-box;
		min-height: 1px;
	}
}

@media ( min-width : 768px) {
	.container {
		margin-right: auto;
		margin-left: auto;
		width: calc(100% - 80px);
		max-width: 100%;
		box-sizing: border-box;
		min-height: 1px;
	}
}

@media ( min-width : 768px) and (min-width: 375px) {
	.col-md-7 {
		padding-right: 5px;
		padding-left: 5px;
	}
}

@media ( min-width : 768px) {
	.col-md-7 {
		position: relative;
		width: 100%;
		min-height: 1px;
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.3333333333%;
		-moz-box-flex: 0;
		-moz-flex: 0 0 58.3333333333%;
		-ms-flex: 0 0 58.3333333333%;
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
		padding-right: 7.55px;
		padding-left: 7.55px;
	}
}

/* 상단 알림 */
.top_notification {
	display: grid;
	background: white;
	margin: auto;
	box-sizing: border-box;
	min-height: 46px;
	height: 46px;
	border: 1px solid #009FCE;
	box-shadow: 0 2px 6px rgba(63, 71, 77, 0.15);
	grid-template-columns: 1fr 40px;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 12px;
	border-radius: 4px;
	position: sticky;
	-webkit-align-self: start;
	-ms-flex-item-align: start;
	z-index: 2;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #009FCE;
	font-weight: 700;
}
@media (max-width: 767px) {
    .top_notification {
        -webkit-animation: animation-tn 1s;
        animation: animation-tn 1s;
    }
}
@keyframes animation-tn {
	0% {
	    -webkit-transform: translateY(10px);
	    -moz-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	    transform: translateY(10px);
	}
	100% {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
}

.top_notification_delete {
    display: inline-block;
    padding: 10px;
    background: none;
    border: none;
    font-size: 0;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
	color: #828C94;
}

.top_notification_delete:hover, .top_notification_delete:focus, .top_notification_delete:active {
	opacity: 0.5;
}

/* 다른 고객이 구매한 상품 */
.by_others_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media ( max-width : 767px) {
	.by_others {
		margin: 10px -15px;
		padding: 20px 0px;
	}
}

.by_others {
    background-color: rgb(255, 255, 255);
    padding: 36px;
    border-radius: 6px;
    border: 1px solid rgb(234, 237, 239);
    margin-bottom: 20px;
    position: relative;
}

@media ( max-width : 767px) {
	.production-item-wrap {
		flex: 0 0 134px;
		width: 134px;
		margin: 0px 6px;
	}
}

@media ( max-width : 1023px) {
	.production-item-wrap {
		flex: 0 0 164px;
		width: 164px;
		margin: 0px 12px;
	}
}

.production-item-wrap {
	flex: 0 0 218px;
	width: 218px;
	margin: 0px 6px;
}

.by_others .production-list {
	overflow: hidden;
}

.production-list {
	display: flex;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 768px) {
    .prev_product {
        left: -20px;
    }
    .next_product {
        right: -20px;
    }
}
.prev_product {
    left: 5px;
}
.next_product {
    right: 5px;
}
.next_product, .prev_product {
	display: block;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    line-height: 0;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
    transition: opacity .1s, background-color .1s, color .1s;
    transform: translateY(-50%);
    /*
    display: none;
    opacity: 0;
    */
}

.prev_product>svg {
    transform: translateX(-1px) rotate(180deg);
}

.next_product>svg {
    transform: translateX(1px);
}

/*
.by_others:active.prev_able .prev_product, .by_others:active.next_able .next_product, .by_others:focus.prev_able .prev_product, .by_others:focus.next_able .next_product, .by_others:hover.prev_able .prev_product, .by_others:hover.next_able .next_product, ._3l02Q.prev_able .prev_product, ._3l02Q.next_able .next_product {
    opacity: 1;
}

.prev_able:before {
    left: 0;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff);
}

.next_able:after {
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}

.prev_able:before, .next_able:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 1;
    pointer-events: none;
    transition: opacity .1s;
}
*/
