ul {
	list-style: none;
	display: block;
}

li {
	list-style: none;
	display: list-item;
}

a {
	color: inherit;
	text-decoration: none;
}

.cart-box {
	margin-bottom: 12px;
}
.checkbox-wrap {
	position: relative;
	display: inline-block;
	font-size: 0;
	padding: 9px;
	top: 3px;
	left: -20px;
}

.checkbox {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

/* 상품 이름 */
.item-title {
	min-width: 0;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s;
}

/* 옵션 */
.delivery-info {
	margin-top: 8px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: rgb(117, 117, 117);
	overflow-wrap: break-word;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.option-box {
	position: relative;
	margin-bottom: 8px;
	padding: 12px;
	background-color: rgb(247, 249, 250);
	border-radius: 4px;
}

.option-title {
	font-size: 14px;
	line-height: 18px;
	padding: 0px 24px 10px 0px;
}
/* 옵션 삭제 버튼*/
.option_delete {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding: 10px;
	background: none;
	border: none;
	font-size: 0;
	-webkit-transition: .1s opacity;
	transition: .1s opacity;
	color: #828C94;
}

.option_delete:hover, .option_delete:focus, .option_delete:active {
	opacity: 0.5;
}

.option-subBox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

/* 수량 */
.minus_qty, .plus_qty {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	cursor: pointer;
}

.chage_qty {
	font-size: 14px;
	line-height: 18px;
	padding: 2px;
	border: 0;
	background: none;
}

.minus_qty:hover, .minus_qty:focus, .minus_qty:active,
	.plus_qty:hover , .plus_qty:focus, .plus_qty:active,
	.chage_qty:hover, .chage_qty:focus, .chage_qty:active {
	opacity: 0.5;
}

.option-qty {
    width: 70px;
    display: flex;
    padding: 7px 6px;
    background: #FFFFFF;
    border: 1px solid #DADDE0;
    border-radius: 4px;
}

.item-link {
	display: flex;
	margin-bottom: 12px;
}

.item-link:active img, .item-link:focus img, .item-link:hover img {
	transform: translate(-50%, -50%) scale(1.05);
}

.item-link:active , .item-link:focus , .item-link:hover  {
	opacity: .5;
}

.item-img {
	flex: 0 0 auto;
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	background-color: #ededed;
	overflow: hidden;
}

.item-img img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transition: transform .2s;
	transform: translate(-50%, -50%) scale(1.0001);
}

.item-content {
	padding-left: 12px;
}

.item-title {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 100000;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0)
}

.modal__dialog {
	background: #fff;
	position: absolute;
	left: 50%;
	margin-top: 10px;
	margin-bottom: 10px
}

@media ( min-width :768px) {
	.modal__dialog {
		margin-top: 20px;
		margin-bottom: 20px
	}
}

@media ( min-width :1024px) {
	.modal__dialog {
		margin-top: 30px;
		margin-bottom: 30px
	}
}
/*
.modal__large-close {
	position: fixed;
	right: 0;
	top: 20px;
	height: 0;
	z-index: 100005
}

@media ( min-width :1024px) {
	.modal__large-close {
		top: 30px
	}
}

.modal__large-close__button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	border: none;
	background-color: #fff;
	color: #000;
	font-size: 0;
	line-height: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	transition: background-color .1s, color .1s
}

.modal__large-close__button:active, .modal__large-close__button:focus,
	.modal__large-close__button:hover {
	background-color: #35c5f0;
	color: #fff
}

.btn--modal-close {
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px
}

@media ( min-width :768px) {
	.btn--modal-close {
		top: 20px;
		right: 20px
	}
}

.carted-product-edit__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px
}

.carted-product-edit__form .product-small-item {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 15px;
	padding-bottom: 10px
}

@media ( min-width :768px) {
	.carted-product-edit__form .product-small-item {
		padding-right: 5px
	}
}

.carted-product-edit__form__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding-top: 10px;
	overflow-y: auto
}

.carted-product-edit__form__footer {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px -14px -15px;
	padding-bottom: env(safe-area-inset-bottom)
}

@media ( min-width :768px) {
	.carted-product-edit__form__footer {
		margin: 20px -5px 0;
	}
}

.carted-product-edit__form__footer__button.button {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	margin: 0 5px;
}

@media ( max-width :767px) {
	.carted-product-edit__form__footer__button.button {
		margin: 0 3.5px;
		padding: 11px 10px;
		line-height: 20px;
	}
}
*/
.cart-item {
	position: relative;
    padding: 20px 15px 20px 49px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ededed;
    border-bottom: none;
}

.item_delete {
	position: absolute;
	display: inline-block;
	top: 15px;
	right: 10px;
	padding: 5px;
	background: none;
	border: none;
	font-size: 0;
	transition: opacity .1s;
	color: #424242;
}

@media ( min-width :768px) {
	.item_delete {
		right: 15px;
	}
}

.item_delete:active, .item_delete:focus, .item_delete:hover {
	opacity: .5;
}

.item_order {
	padding: 3px;
	background: none;
	border: none;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s;
}

.item_order:active, .item_order:focus, .item_order:hover {
	opacity: .5;
}

.item-subtotal {
	font-size: 17px;
	font-weight: 700;
}

.commerce-cart__delivery-group__footer {
    font-size: 15px;
    text-align: center;
    color: #424242;
    background: #fff;
    margin-bottom: 12px;
    border: 1px solid #ededed;
    border-radius: 6px;
    border-top: none;
}

.commerce-cart__delivery-group__group-caption {
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #757575;
}

.commerce-cart__delivery-group__group-link {
	margin-top: 5px;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
}

.commerce-cart__delivery-group__group-link__link {
	display: inline-block;
	padding: 0 4px;
	font-weight: 700;
	color: #35c5f0;
	transition: color .1s;
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	color: #09addb;
}

@media ( min-width :768px) {
	.commerce-cart__delivery-group__group-link__link:active,
		.commerce-cart__delivery-group__group-link__link:hover {
		color: #09addb;
	}
}

.commerce-cart__delivery-group__group-link__link::-moz-focus-inner {
	border: 0;
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	outline: none;
	box-shadow: 0 0 0 3px #a3e4f8;
	border-radius: 4px;
}

.commerce-cart__delivery-group__group-link__link>.icon {
	font-size: 12px;
	vertical-align: -2px;
	margin-left: 2px
}

@media ( min-width :768px) {
	.cart-summary_m {
		display: none;
	}
}

.cart-summary {
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 6px;
}

.cart-summary-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 15px;
	font-weight: 400;
	color: #424242;
}

.cart-summary dd, .cart-summary dt {
	flex: 0 0 auto;
	font-weight: 500;
}

.cart-summary dd {
	font-weight: 700;
	text-align: right;
}

.cart-summary-row--total {
	margin: 30px 0 20px;
	color: #000;
}

.cart-summary-row--total>dt {
	font-weight: 700;
}

.cart-summary-row--total>dd {
	font-size: 24px;
	width: 130px;
	height: 30px;
}


.cart-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	margin-bottom: 11px;
	z-index: 100;
}

@media ( min-width :768px) {
	.cart-header {
		padding: 0 21px;
	}
}

.commerce-cart__header__left {
	margin: -9px;
}

.commerce-cart__header__left, .commerce-cart__header__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.commerce-cart__header__caption {
	display: inline-block;
	line-height: 21px;
	margin-bottom: 2px;
	font-size: 15px;
}

.cart-header_delete {
	background: none;
	border: none;
	color: #424242;
	font-weight: 400;
	font-size: 12px;
}

.cart-header_delete:active, .cart-header_delete:hover {
	opacity: .6;
}

.cart-side {
	display: none;
	
}

@media ( min-width :768px) {
	.cart-side {
		display: block;
		position: relative;
        width: 100%;
        min-height: 1px;
        flex: 0 0 35%;
        max-width: 35%;
        padding-left: 8px;
	}
}

.commerce-cart__side-bar {
	padding: 20px 0;
}

.commerce-cart__side-bar__summary {
	margin: 0 0 20px;
	border: 1px solid #ededed;
}

.commerce-cart__side-bar__order__btn {
	display: block;
	width: 100%;'
	padding: 15px 10px;
	line-height: 20px;
	font-size: 17px;
	min-height: 50px;
}

.order_btn {
	background-color: #35c5f0;
	border-color: #35c5f0;
	color: #fff;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border: 1px solid transparent;
	font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
		sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: color .1s, background-color .1s, border-color .1s;
	border-radius: 4px;
	cursor: pointer;
}

.commerce-cart__footer-wrap {
	z-index: 502;
}

.commerce-cart__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	z-index: 502;
	padding: 6px;
	background-color: hsla(0, 0%, 100%, .94);
	flex-wrap: wrap;
}

@media ( min-width :768px) {
	.commerce-cart__footer {
		display: none;
	}
}

.commerce-cart__footer__total {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 12px 16px 12px 10px;
	color: #000;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
}

.commerce-cart__footer__total>.cost {
	font-weight: 700;
}

.commerce-cart__footer__order {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: auto;
	padding: 11px 10px;
	margin-bottom: env(safe-area-inset-bottom, 0);
    min-height: 45px;
    line-height: 18px;
    font-size: 15px;
}

.commerce-cart-empty {
	background-color: #f5f5f5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.commerce-cart-empty {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.commerce-cart-empty__content {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	max-width: 220px;
	margin: 80px auto;
	text-align: center
}

.commerce-cart-empty__content__image {
	display: block;
	max-width: 160px;
	margin: 0 auto;
}

.commerce-cart-empty__content__button.button {
	display: block;
	margin-top: 30px;
}

.label {
	display : inline-flex;
	align-items: center;
}

input[type="checkbox"]{
	 margin-right: 7px;
}
.production-item-image {
	position: relative;
	background-color: #f5f5f5;
	padding-bottom: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.production-item-image>.image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: transform .2s;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
	border: 0;
}

.production-item-scrap-badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 24px;
	height: 24px;
	background: none;
	border: none;
	z-index: 2;
	transition: opacity .1s;
}

.production-item-scrap-badge>.inactive-icon {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .1s;
}

svg {
	width: 24;
	height: 24;
}

svg:not(:root) {
	overflow-clip-margin: content-box;
	overflow: hidden;
}

.production-item-image__dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color .2s;
}

.production-item__content {
	padding: 0 4px;
}

.production-item__header {
	margin: 9px 0 0;
}

.production-item__header__brand {
	display: block;
	color: #757575;
	word-break: break-all;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
}

.production-item .production-item-price {
	margin: 2px 0 0;
}

.production-item__header__name {
	display: block;
	max-height: 34px;
	margin-top: 5px;
	word-break: break-all;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	color: #000;
	transition: opacity .1s;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.production-item-price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 17px;
	line-height: 23px;
	font-weight: 700;
}

.production-item-stats {
	font-size: 12px;
	color: #9e9e9e;
	line-height: 16px;
	font-weight: 700;
}

.production-item-price__rate {
	color: #35c5f0;
	margin-right: 4px;
}

.production-item-price__price {
	color: #000;
	margin-right: 4px;
}

.production-item-stats--review>.icon {
	width: 1.1em;
	height: 1.1em;
	margin-right: 1px;
	color: #35c5f0;
	vertical-align: -2px;
}

.production-item-stats--review>.avg {
	margin-right: 2px;
	color: #424242;
	font-weight: 700;
}

.production-item {
	position: relative;
}

.delivery_wrap {
	display: block;
}

.delivery_wrap>.icon {
	width: auto;
	height: 15px;
}

.delivery_text {
	display: inline-block;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: rgb(99, 145, 230);
}

.production-item-badge-list {
	display: flex;
}

.salecoupon_wrap {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	max-width: 100%;
	width: fit-content;
	padding: 2px 5px;
	line-height: 16px;
	letter-spacing: -0.3px;
	border-radius: 4px;
	margin-top: 6px;
	color: rgb(47, 52, 56);
	border: 1px solid rgb(234, 237, 239);
}

.salecoupon_text {
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.container {
	position: relative;
	background-color: #f5f5f5;
	width: 100%;
	max-width: 100%;
}


.cart-body {
	width: 100%;
	
}

@media ( min-width : 768px) {
	.cart-body {
		position: relative;
		flex: 0 0 65%;
		max-width: 65%;
		padding-right: 8px;
	}
}

/* 알림 */
.notification {
	display: grid;
	background: white;
	min-height: 46px;
	border: 1px solid #009FCE;
	box-shadow: 0 2px 6px rgba(63, 71, 77, 0.15);
	grid-template-columns: 1fr 40px;
	align-items: center;
	margin-bottom: 12px;
	border-radius: 4px;
	position: sticky;
	z-index: 2;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #009FCE;
	font-weight: 700;
}

.notification_delete {
    display: inline-block;
    padding: 10px;
    background: none;
    border: none;
    font-size: 0;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
	color: #828C94;
}

.notification_delete:hover, .notification_delete:focus, .notification_delete:active {
	opacity: 0.5;
}

/* 다른 고객이 구매한 상품 */
.by_others_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media ( max-width : 767px) {
	.by_others {
		margin: 10px -15px;
		padding: 20px 0px;
	}
}

.by_others {
    background-color: rgb(255, 255, 255);
    padding: 36px;
    border-radius: 6px;
    border: 1px solid rgb(234, 237, 239);
    margin-bottom: 20px;
    position: relative;
}

@media ( max-width : 767px) {
	.production-item-wrap {
		flex: 0 0 134px;
		width: 134px;
		margin: 0px 6px;
	}
}

@media ( max-width : 1023px) {
	.production-item-wrap {
		flex: 0 0 164px;
		width: 164px;
		margin: 0px 12px;
	}
}

.production-item-wrap {
	flex: 0 0 218px;
	width: 218px;
	margin: 0px 6px;
}

.production-item__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.by_others .production-list {
	overflow: hidden;
}

.production-list {
	display: flex;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	list-style: none;
}

@media (min-width: 768px) {
    .prev_product {
        left: -20px;
    }
    .next_product {
        right: -20px;
    }
}
.prev_product {
    left: 5px;
}
.next_product {
    right: 5px;
}
.next_product, .prev_product {
	display: block
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    line-height: 0;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
    transition: opacity .1s, background-color .1s, color .1s;
    transform: translateY(-50%);
    /*
    display: none;
    opacity: 0;
    */
}

.prev_product>svg {
    transform: translateX(-1px) rotate(180deg);
}

.next_product>svg {
    transform: translateX(1px);
}

/*
.by_others:active.prev_able .prev_product, .by_others:active.next_able .next_product, .by_others:focus.prev_able .prev_product, .by_others:focus.next_able .next_product, .by_others:hover.prev_able .prev_product, .by_others:hover.next_able .next_product, ._3l02Q.prev_able .prev_product, ._3l02Q.next_able .next_product {
    opacity: 1;
}

.prev_able:before {
    left: 0;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff);
}

.next_able:after {
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}

.prev_able:before, .next_able:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 1;
    pointer-events: none;
    transition: opacity .1s;
}
*/
